# Aeneas DTW, cpu friendly (python 10/11)
# requires ffmpeg and espeak in PATH
# Install numpy first
numpy==1.23.5
# Install these after numpy is confirmed
scipy>=1.8.0,<1.11.0
scikit-learn>=1.1.0,<1.4.0
librosa<=0.11.0
# install aeneas via a separate command:
# pip install aeneas --no-build-isolation

# If you still need automated lyrics extraction
# but fighting with Aeneas Installation
# ctc_forced_aligner==1.0.2
# sherpa-onnx==1.13.1
# onnxruntime==1.26.0
# Unidecode==1.4.0
# nltk==3.9.4